.personIcon {
	cursor: pointer;
	margin-left: 10px;
	float: right;
}

.logoHeading {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #4c575f;
	cursor: pointer;
	width: fit-content;
}

.navBar {
	background-color: #4c575f;
}
.cartItems {
	color: #4c575f;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 8px;
}

.cartItems:hover {
	color: #ffffff;
	background-color: #25a3fe;
	border-radius: 8px;
}

.productCats {
	text-align: center;
	margin-top: 20px;
	color: #4c575f;
	font-size: 1.4rem;
	font-weight: bold;
	/* border: 1px solid #4c575f */
	-webkit-text-stroke: 1px #4c575f;
	margin-bottom: 20px;
}

.viewMoreBtn {
	background-color: #4c575f;
	color: #fff;
	font-size: 1rem;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}
